<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<nav id="header">
  <img src="https://www.tinkerhub.org/files/LogoBLACK.png" alt="Logo">
  <ul>
    <li><a href="#">Gen-AI Conference</a></li>
    <li><a href="#">Join</a></li>
    <li class="has-submenu">
      <a href="#">Initiatives <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg></a>
      <ul class="submenu">
        <li><a href="#">Learn</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Campus</a></li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="#">Projects <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg></a>
      <ul class="submenu">
        <li><a href="#">Tinkerspace</a></li>
        <li><a href="#">Digital Skills Project</a></li>
        <li><a href="#">Mentor in Residence</a></li>
      </ul>
    </li>
    <li><a href="#">Donate ♥</a></li>
    <li><a href="#">Learning Resources 📚</a></li>
  </ul>
</nav>
</body>
</html>
